@media screen and (min-width: 992px) and (max-width: 1400px) {
    .container {
        max-width: 86vw;
    }
    /* ************************************************************************************************************ */

    /* ******************************************* Todo: Banner part css ****************************************** */
    .banner-container {
        gap: 0;
    }
    .banner-title {
        font-size: 3.3rem;
    }
    .banner-title > span {
        font-size: 7rem;
    }
    .btn {
        font-size: 1rem;
        padding: 1rem 2rem;
    }

    /* ---------------------------------------------------- */

    .banner-img-content img {
        width: 30vw;
    }
    .banner-img-content .banner-card-1 {
        top: 4rem;
    }
    .banner-img-content .banner-card-2 {
        bottom: 3rem;
        left: 4rem;
    }
    /* ************************************************************************************************************ */

    /* ******************************************** Todo: Habit part css ****************************************** */
    .habit-heading {
        width: 55%;
    }
    .habit-inner {
        gap: 0;
        padding: 0;
    }
    .habit-card img {
        width: 17vw;
    }
    /* ************************************************************************************************************ */

    /* *********************************** Todo: Start run extra mile section css ********************************* */
    .run-container {
        gap: 10rem;
    }
    /* ************************************************************************************************************ */
}

@media screen and (min-width: 576px) and (max-width: 991px) {
    /* ****************************************** Todo: Common class css ****************************************** */
    html {
        font-size: 14px;
    }
    .container {
        max-width: 90vw;
    }
    /* ************************************************************************************************************ */

    /* ******************************************* Todo: Navbar part css ****************************************** */
    .navbar-container {
        padding: 3.5rem 0 4rem;
    }
    .navbar-nav {
        gap: 1.25rem;
    }
    .navbar-link {
        font-size: 1rem;
    }
    /* ************************************************************************************************************ */

    /* ******************************************* Todo: Banner part css ****************************************** */
    .banner-container {
        gap: 0;
    }
    .banner-title {
        font-size: 2.9rem;
    }
    .banner-title > span {
        font-size: 6rem;
    }
    .btn {
        font-size: 1rem;
        padding: 1rem 2rem;
    }

    /* ---------------------------------------------------- */

    .banner-img-content {
        padding-left: 2.5rem;
    }
    .banner-img-content .banner-img-card {
        padding: 0.875rem 1rem;
    }
    .banner-img-content .banner-card-1 {
        top: 9rem;
        right: -2rem;
    }
    .banner-img-content .banner-card-2 {
        bottom: 3rem;
        left: 1rem;
    }
    .banner-img-card h4 {
        font-size: 2rem;
    }
    /* ************************************************************************************************************ */

    /* ******************************************** Todo: Habit part css ****************************************** */
    .habit-inner {
        grid-template-columns: repeat(2, 1fr);
    }
    .habit-card img {
        width: 25vw;
    }
    /* ************************************************************************************************************ */

    /* *********************************** Todo: Start run extra mile section css ********************************* */
    .run-container {
        gap: 4rem;
        padding: 1.5rem;
        padding-left: 2.5rem;
    }
    /* ************************************************************************************************************ */
}

@media screen and (max-width: 575px) {
    /* ****************************************** Todo: Common class css ****************************************** */
    .container {
        max-width: 90vw;
    }
    /* ************************************************************************************************************ */

    /* ******************************************* Todo: Navbar part css ****************************************** */
    .navbar-content {
        display: none;
    }
    .navbar-bars {
        display: block;
    }
    .menu-bar-icon {
        cursor: pointer;
        font-size: 1.4rem;
        color: var(--primary-color);
    }
    /* ************************************************************************************************************ */

    /* ******************************************* Todo: Banner part css ****************************************** */
    .banner-container {
        flex-direction: column;
        gap: 3rem;
    }
    .banner-text-content {
        width: 100%;
    }
    .banner-title {
        font-size: 2.25rem;
    }
    .banner-title > span {
        font-size: 4.5rem;
    }
    .btn {
        font-size: 1rem;
        padding: 1rem 2rem;
    }

    /* ---------------------------------------------------- */

    .banner-img-content {
        width: 100%;
        padding-left: 2.5rem;
    }
    .banner-img-card h4 {
        font-size: 2rem;
    }
    .banner-img-content .banner-img-card {
        padding: 0.875rem 1rem;
    }
    .banner-img-content .banner-card-1 {
        top: 8rem;
        right: 0;
    }
    .banner-img-content .banner-card-2 {
        bottom: 4rem;
        left: 0rem;
    }
    .banner-card-icon {
        color: var(--primary-color);
    }
    /* ************************************************************************************************************ */

    /* ******************************************** Todo: Habit part css ****************************************** */
    #habit-section {
        padding: 4.125rem 2rem;
    }
    .habit-heading {
        width: 100%;
    }
    .section-title {
        font-size: 2rem;
    }
    .habit-inner {
        gap: 3.5rem;
        padding: 0;
        grid-template-columns: repeat(1, 1fr);
    }
    .habit-card img {
        width: 55vw;
    }
    /* ************************************************************************************************************ */

    /* *********************************** Todo: Start run extra mile section css ********************************* */
    #run-part {
        padding-bottom: 4.125rem;
    }
    .run-container {
        gap: 2rem;
        padding-left: 2rem;
        flex-direction: column;
    }
    .run-text-container {
        width: 100%;
    }
    .run-img-container {
        width: 100%;
    }
    /* ************************************************************************************************************ */
}
