@media screen and (min-width: 768px) and (max-width: 1199px) {
    /* ******************************************* Todo: Navbar part css ****************************************** */
    .navbar-container {
        gap: 4rem;
    }
    .navbar-nav {
        gap: 1.5rem;
    }
    /* ************************************************************************************************************ */

    /* ******************************************* Todo: Banner part css ****************************************** */
    .banner-container {
        gap: 0rem;
    }
    .banner-title {
        font-size: 3rem;
    }
    .banner-title > span {
        font-size: 6rem;
    }
    .banner-description {
        font-size: 0.875rem;
    }
    .btn {
        font-size: 0.875rem;
        padding: 1rem 2rem;
    }

    /* -------------------------------------------------------- */

    .banner-img-content {
        padding-left: 4rem;
    }
    .banner-img-card h4 {
        font-size: 2rem;
    }
    .banner-img-content .banner-img-card {
        padding: 1rem;
    }
    .banner-img-content .banner-card-1 {
        top: 9rem;
        right: -1.5rem;
    }
    .banner-img-content .banner-card-2 {
        bottom: 3rem;
        left: 2rem;
    }
    /* ************************************************************************************************************ */

    /* ******************************************** Todo: Habit part css ****************************************** */
    #habit-section {
        padding: 5.25rem 0;
    }
    .habit-inner {
        gap: 1.5rem;
    }
    .habit-card > p {
        margin: 0 -20px;
    }
    .habit-card p > span {
        display: inline;
    }
    /* ************************************************************************************************************ */

    /* *********************************** Todo: Start run extra mile section css ********************************* */
    .run-container {
        grid-template-columns: repeat(2, auto);
        gap: 0;
    }
    .run-text-container p {
        padding-right: 5rem;
    }
    /* ************************************************************************************************************ */

    /* ******************************** Todo: Start training & exercise section css ******************************* */
    .trainer-img3 .training-exercise-img-text p,
    .trainer-img5 .training-exercise-img-text p,
    .trainer-img6 .training-exercise-img-text p {
        top: calc(100% - 4.5rem);
        right: 30%;
    }
    .trainer-img5 .training-exercise-img-text p {
        top: calc(100% - 5.5rem);
        right: 20%;
    }
    .trainer-img6 .training-exercise-img-text p {
        right: 47%;
    }
    /* ************************************************************************************************************ */

    /* ************************************ Todo: Start BMI calculator section css ******************************** */
    .BMI-calc-heading {
        padding-left: 5rem;
    }
    .BMI-calc-main h4 {
        font-size: 1.5rem;
    }
    .BMI-calc-chart table tr th,
    .BMI-calc-chart table tr td {
        padding: 0.875rem;
    }
    .BMI-calc-form .btn {
        margin-right: 2rem;
    }
    /* ************************************************************************************************************ */

    /* ***************************************** Todo: Start Team section css ************************************* */
    #team-section {
        padding: 5rem 0;
    }
    .team-heading p {
        padding: 0.875rem 3rem 0;
    }
    .team-heading p > span {
        display: inline;
    }
    .team-text h4 {
        font-size: 1rem;
    }
    .team-inner {
        margin-top: 3rem;
    }
    /* ************************************************************************************************************ */

    /* **************************************** Todo: Start Footer section css ************************************ */
    .footer-container {
        padding: 4rem 0;
        grid-template-columns: 44% 20% 20%;
    }
    .footer-text h2 {
        font-size: 4rem;
    }
    .footer-text p {
        padding-right: 0;
    }
    .footer-links h3 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    .footer-links ul li a {
        font-size: 1rem;
    }
    .footer-btm p {
        font-size: 1rem;
    }
    /* ************************************************************************************************************ */
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    /* ******************************************* Todo: Navbar part css ****************************************** */
    .navbar-container {
        gap: 3rem;
    }
    .navbar-content {
        display: none;
    }
    .navbar-bars {
        display: block;
    }
    /* ************************************************************************************************************ */

    /* ******************************************* Todo: Banner part css ****************************************** */
    .banner-container {
        flex-direction: column;
        gap: 2rem;
    }
    .banner-text-content {
        width: 100%;
    }
    .banner-title {
        font-size: 3.5rem;
    }
    .banner-title > span {
        font-size: 7rem;
    }
    .banner-description > span {
        display: block;
    }
    .btn {
        font-size: 1rem;
    }

    /* ---------------------------------------------------- */

    .banner-img-content {
        position: relative;
        padding-left: 8rem;
    }
    .banner-img-content img {
        width: 390px;
    }
    .banner-img-content .banner-card-1 {
        top: 13rem;
        right: -13rem;
    }
    .banner-img-content .banner-card-2 {
        bottom: 9.5rem;
        left: 5.2rem;
    }
    .banner-card-icon {
        color: var(--primary-color);
    }
    /* ************************************************************************************************************ */

    /* ******************************************** Todo: Habit part css ****************************************** */
    #habit-section {
        padding: 5.125rem 0;
    }
    .habit-heading p {
        padding: 0.875rem 5rem 0;
    }
    .habit-heading p > span {
        display: inline;
    }
    .habit-inner {
        gap: 3.5rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .habit-card img {
        width: 80%;
    }
    /* ************************************************************************************************************ */

    /* *********************************** Todo: Start run extra mile section css ********************************* */
    #run-part {
        padding-bottom: 5.125rem;
    }
    .run-container {
        gap: 3rem;
        padding: 2.5rem;
        grid-template-columns: repeat(1, 1fr);
    }
    .run-text-container p {
        padding-right: 3rem;
    }
    /* ************************************************************************************************************ */

    /* ******************************** Todo: Start training & exercise section css ******************************* */
    .training-exercise-heading p {
        padding-right: 4rem;
    }
    .training-exercise-heading p > span {
        display: inline;
    }
    .training-exercise-inner {
        padding: 3rem 0 4.5rem;
    }
    .trainer-img3,
    .trainer-img6 {
        display: none;
    }
    .trainer-img1 {
        grid-column: 1/6;
    }
    .trainer-img2 {
        grid-column: 6/10;
    }
    .trainer-img4 {
        grid-column: 1/5;
    }
    .trainer-img5 {
        grid-column: 5/10;
    }
    .trainer-img4 .training-exercise-img-text p,
    .trainer-img5 .training-exercise-img-text p {
        right: 37%;
    }
    .trainer-img4 .training-exercise-img-text p {
        top: calc(100% - 4.5rem);
    }
    /* ************************************************************************************************************ */

    /* ************************************ Todo: Start BMI calculator section css ******************************** */
    #BMI-calculator-part .section-description {
        padding-right: 4rem;
    }
    .BMI-calc-heading {
        padding-bottom: 4.5rem;
        padding-left: 0px;
    }
    .BMI-calc-heading p > span {
        display: inline;
    }
    .BMI-calc-container {
        gap: 3rem;
        grid-template-columns: repeat(1, 1fr);
    }
    .BMI-calc-main h4 {
        font-size: 1.5rem;
    }
    .BMI-calc-chart table {
        margin-top: 2.5rem;
    }
    .BMI-calc-chart table tr > th,
    .BMI-calc-chart table tr > td {
        font-size: 0.875rem;
        padding: 0.875rem 1rem;
    }
    .BMI-calc-form .btn {
        margin-right: 5rem;
    }
    /* ************************************************************************************************************ */

    /* ***************************************** Todo: Start Team section css ************************************* */
    #team-section {
        padding: 4.5rem 0;
    }
    .team-heading p {
        padding: 0.875rem 5rem 0;
    }
    .team-heading p > span {
        display: inline;
    }
    .team-inner {
        margin-top: 3rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .team-text h4 {
        font-size: 1rem;
    }
    /* ************************************************************************************************************ */

    /* **************************************** Todo: Start Footer section css ************************************ */
    .footer-container {
        grid-template-columns: 1fr 1fr;
    }
    .footer-text {
        grid-column: 1/4;
        margin-bottom: 6.375rem;
    }
}

@media screen and (max-width: 575px) {
    /* ****************************************** Todo: Common class css ****************************************** */
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    /* ************************************************************************************************************ */

    /* ******************************************* Todo: Navbar part css ****************************************** */
    .navbar-content {
        display: none;
    }
    .navbar-bars {
        display: block;
    }
    /* ************************************************************************************************************ */

    /* ******************************************* Todo: Banner part css ****************************************** */
    .banner-container {
        flex-direction: column;
        gap: 2rem;
    }
    .banner-text-content {
        width: 100%;
    }
    .banner-title {
        font-size: 2.25rem;
    }
    .banner-title > span {
        font-size: 4.5rem;
    }
    .banner-btn {
        gap: 0.5rem;
    }
    .btn {
        font-size: 0.875rem;
        padding: 1rem;
    }

    /* ---------------------------------------------------- */

    .banner-img-content {
        width: 100%;
        padding-left: 0;
    }
    .banner-img-card h4 {
        font-size: 2rem;
    }
    .banner-img-content .banner-img-card {
        padding: 0.875rem 1rem;
    }
    .banner-img-content .banner-card-1 {
        top: 9rem;
        right: 0;
    }
    .banner-img-content .banner-card-2 {
        bottom: 4rem;
        left: 0rem;
    }
    .banner-card-icon {
        color: var(--primary-color);
    }
    /* ************************************************************************************************************ */

    /* ******************************************** Todo: Habit part css ****************************************** */
    #habit-section {
        padding: 4.125rem 0;
    }
    .section-title {
        font-size: 2rem;
    }
    .habit-heading p {
        padding: 0.875rem 1rem 0;
    }
    .habit-heading p > span {
        display: inline;
    }
    .habit-inner {
        gap: 3.5rem;
        grid-template-columns: repeat(1, 1fr);
    }
    .habit-card img {
        width: 60%;
    }
    /* ************************************************************************************************************ */

    /* *********************************** Todo: Start run extra mile section css ********************************* */
    #run-part {
        padding-bottom: 4.125rem;
    }
    .run-container {
        gap: 2rem;
        padding: 2rem;
        grid-template-columns: repeat(1, 1fr);
    }
    /* ************************************************************************************************************ */

    /* ******************************** Todo: Start training & exercise section css ******************************* */
    .training-exercise-heading p {
        padding: 0.875rem 1rem 0 0;
    }
    .training-exercise-heading p > span {
        display: inline;
    }
    .trainer-img3,
    .trainer-img6 {
        display: none;
    }
    .trainer-img1 {
        grid-column: 1/6;
    }
    .trainer-img2 {
        grid-column: 6/10;
    }
    .trainer-img4 {
        grid-column: 1/5;
    }
    .trainer-img5 {
        grid-column: 5/10;
    }
    .training-exercise-img-text > p {
        left: 1rem;
        top: 1rem;
        bottom: 1rem;
        right: 1rem;
    }
    .trainer-img1 .training-exercise-img-text p {
        top: calc(100% - 2rem);
    }
    .trainer-img4 .training-exercise-img-text p,
    .trainer-img5 .training-exercise-img-text p {
        top: calc(100% - 5.5rem);
        right: 20%;
    }

    .training-exercise-inner {
        padding: 3.625rem 0 4.5rem;
    }

    /* -----------------------------------------------------------------------------------------
    * If you want to show all the training & exercise images then use the following codes:
-------------------------------------------------------------------------------------------- */
    /* .training-exercise-inner {
        grid-template-columns: repeat(2, 1fr);
    }

    .trainer-img1,
    .trainer-img3,
    .trainer-img5 {
        grid-column: 1/2;
    }

    .trainer-img2,
    .trainer-img4,
    .trainer-img6 {
        grid-column: 2/3;
    }

    .trainer-img1,
    .trainer-img2 {
        grid-row: 1/2;
    }

    .trainer-img3,
    .trainer-img4 {
        grid-row: 2/3;
    }

    .trainer-img5,
    .trainer-img6 {
        grid-row: 3/4;
    }

    .trainer-img3 .training-exercise-img-text p,
    .trainer-img4 .training-exercise-img-text p,
    .trainer-img5 .training-exercise-img-text p,
    .trainer-img6 .training-exercise-img-text p {
        top: calc(100% - 5.5rem);
        right: 30%;
    } */

    /* ************************************************************************************************************ */

    /* ************************************ Todo: Start BMI calculator section css ******************************** */
    #BMI-calculator-part .section-description {
        padding-right: 1rem;
    }
    .BMI-calc-heading {
        padding-bottom: 4.5rem;
        padding-left: 0px;
    }
    .BMI-calc-heading p > span {
        display: inline;
    }
    .BMI-calc-container {
        gap: 3rem;
        grid-template-columns: repeat(1, 1fr);
    }
    .BMI-calc-main h4 {
        font-size: 1.2rem;
    }
    .BMI-calc-chart table {
        width: 100%;
        margin-top: 2.2rem;
    }
    .BMI-calc-chart table tr > th,
    .BMI-calc-chart table tr > td {
        font-size: 0.875rem;
        padding: 0.875rem 1rem;
    }
    .BMI-calc-form .btn {
        margin-right: 0;
    }
    /* ************************************************************************************************************ */

    /* ***************************************** Todo: Start Team section css ************************************* */
    #team-section {
        padding: 4.125rem 0;
    }
    .team-heading p > span {
        display: inline;
    }
    .team-inner {
        margin-top: 2.25rem;
        grid-template-columns: repeat(1, 1fr);
    }
    /* ************************************************************************************************************ */

    /* **************************************** Todo: Start Footer section css ************************************ */
    .footer-container {
        gap: 2rem;
        padding: 2.75rem 0 4.5rem;
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-text h2 {
        font-size: 4rem;
    }
    .footer-text p {
        padding-right: 1rem;
    }
    .footer-links h3 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    /* ************************************************************************************************************ */
}
