@media screen and (min-width: 768px) and (max-width: 1199px) {
    .habit-card p > span,
    .team-heading p > span {
        display: inline;
    }
    /* ******************************************* Todo: Navbar part css ****************************************** */
    .navbar-container {
        gap: 4rem;
    }
    .navbar-nav {
        gap: 1.5rem;
    }

    /* ******************************************* Todo: Banner part css ****************************************** */
    .banner-container {
        gap: 0rem;
    }
    .banner-title {
        font-size: 3rem;
    }
    .banner-title > span {
        font-size: 6rem;
    }
    .banner-description {
        font-size: 0.875rem;
    }
    .btn {
        font-size: 0.875rem;
        padding: 1rem 2rem;
    }

    /* -------------------------------------------------------- */

    .banner-img-content {
        padding-left: 4rem;
    }
    .banner-img-card h4 {
        font-size: 2rem;
    }
    .banner-img-content .banner-img-card {
        padding: 1rem;
    }
    .banner-img-content .banner-card-1 {
        top: 9rem;
        right: -1.5rem;
    }
    .banner-img-content .banner-card-2 {
        bottom: 3rem;
        left: 2rem;
    }

    /* ******************************************** Todo: Habit part css ****************************************** */
    #habit-section {
        padding: 5.25rem 0;
    }
    .habit-inner {
        gap: 1.5rem;
    }
    .habit-card > p {
        margin: 0 -20px;
    }

    /* *********************************** Todo: Start run extra mile section css ********************************* */
    .run-container {
        grid-template-columns: repeat(2, auto);
        gap: 0;
    }
    .run-text-container p {
        padding-right: 5rem;
    }

    /* ******************************** Todo: Start training & exercise section css ******************************* */
    .trainer-img3 .training-exercise-img-text p,
    .trainer-img5 .training-exercise-img-text p,
    .trainer-img6 .training-exercise-img-text p {
        top: calc(100% - 4.5rem);
        right: 30%;
    }
    .trainer-img5 .training-exercise-img-text p {
        top: calc(100% - 5.5rem);
        right: 20%;
    }
    .trainer-img6 .training-exercise-img-text p {
        right: 47%;
    }

    /* ************************************ Todo: Start BMI calculator section css ******************************** */
    .BMI-calc-heading {
        padding-left: 5rem;
    }
    .BMI-calc-main h4 {
        font-size: 1.5rem;
    }
    .BMI-calc-chart table tr th,
    .BMI-calc-chart table tr td {
        padding: 0.875rem;
    }
    .BMI-calc-form .btn {
        margin-right: 2rem;
    }

    /* ***************************************** Todo: Start Team section css ************************************* */
    #team-section {
        padding: 5rem 0;
    }
    .team-heading p {
        padding: 0.875rem 3rem 0;
    }
    .team-text h4 {
        font-size: 1rem;
    }
    .team-inner {
        margin-top: 3rem;
    }

    /* ****************************** Todo: Challenge part - Training Rates css start here  *********************** */
    .training-rate-inner {
        gap: 1rem;
    }
    .training-rate-card-heading h2 {
        font-size: 2rem;
    }
    .training-rate-card-heading span {
        padding-left: 0.5rem;
        font-size: 1rem;
    }
    .training-rate-card-heading p {
        font-size: 1.6rem;
    }
    .training-rate-card-description ul li {
        font-size: 12px;
    }
    /* **************************************** Todo: Challenge part end here  ************************************ */

    /* **************************************** Todo: Start Footer section css ************************************ */
    .footer-container {
        grid-template-columns: 44% 20% 20%;
    }
    .footer-text h2 {
        font-size: 4rem;
    }
    .footer-links h3 {
        font-size: 1.5rem;
    }
    .footer-links ul li a {
        font-size: 1rem;
    }
    .footer-btm p {
        font-size: 1rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .habit-heading p > span,
    .training-exercise-heading p > span,
    .BMI-calc-heading p > span,
    .team-heading p > span {
        display: inline;
    }

    .run-text-container p,
    .training-exercise-heading p,
    #BMI-calculator-part .section-description {
        padding-right: 3rem;
    }
    /* ******************************************* Todo: Navbar part css ****************************************** */
    .navbar-content {
        display: none;
    }
    .navbar-bars {
        display: block;
    }

    /* ******************************************* Todo: Banner part css ****************************************** */
    .banner-container {
        gap: 2rem;
        grid-template-columns: repeat(1, 1fr);
    }
    .banner-title {
        font-size: 3.5rem;
    }
    .banner-title > span {
        font-size: 7rem;
    }
    .banner-description > span {
        display: block;
    }
    .btn {
        font-size: 1rem;
    }

    /* ---------------------------------------------------- */
    .banner-img-content {
        padding-left: 7.5rem;
    }
    .banner-img-content img {
        width: 50vw;
    }
    .banner-img-content .banner-card-1 {
        top: 10rem;
        right: 8rem;
    }
    .banner-img-content .banner-card-2 {
        bottom: 3rem;
        left: 0;
    }
    .banner-card-icon {
        color: var(--primary-color);
    }

    /* ******************************************** Todo: Habit part css ****************************************** */
    .habit-inner {
        grid-template-columns: repeat(2, 1fr);
    }
    .habit-card img {
        width: 80%;
    }
    .habit-heading p {
        padding: 0.875rem var(--p1);
    }

    /* *********************************** Todo: Start run extra mile section css ********************************* */
    .run-container {
        gap: 3rem;
        padding: 2.5rem;
        grid-template-columns: repeat(1, 1fr);
    }

    /* ******************************** Todo: Start training & exercise section css ******************************* */
    .training-exercise-inner {
        padding-top: var(--p1);
    }
    .trainer-img3,
    .trainer-img6 {
        display: none;
    }
    .trainer-img1 {
        grid-column: 1/6;
    }
    .trainer-img2 {
        grid-column: 6/10;
    }
    .trainer-img4 {
        grid-column: 1/5;
    }
    .trainer-img5 {
        grid-column: 5/10;
    }
    .trainer-img4 .training-exercise-img-text p,
    .trainer-img5 .training-exercise-img-text p {
        right: 37%;
    }
    .trainer-img4 .training-exercise-img-text p {
        top: calc(100% - 4.5rem);
    }

    /* ************************************ Todo: Start BMI calculator section css ******************************** */
    .BMI-calc-heading {
        padding-left: 0px;
    }
    .BMI-calc-container {
        gap: 3rem;
        grid-template-columns: repeat(1, 1fr);
    }
    .BMI-calc-main h4 {
        font-size: 1.5rem;
    }
    .BMI-calc-chart table {
        margin-top: var(--p2);
    }
    .BMI-calc-chart table tr > th,
    .BMI-calc-chart table tr > td {
        font-size: 0.875rem;
        padding: 0.875rem 1rem;
    }
    .BMI-calc-form .btn {
        margin-right: 5rem;
    }
    /* ***************************************** Todo: Start Team section css ************************************* */
    .team-heading p {
        padding: 0.875rem 5rem;
    }
    .team-inner {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 320px);
    }
    .team-text h4 {
        font-size: 1rem;
    }

    /* ****************************** Todo: Challenge part - Training Rates css start here  *********************** */
    .training-rate-inner {
        grid-template-columns: 1fr;
        padding-top: var(--p1);
    }
    .training-rate-card:hover {
        transform: scaleY(1);
    }
    /* **************************************** Todo: Challenge part end here  ************************************ */

    /* **************************************** Todo: Start Footer section css ************************************ */
    .footer-container {
        grid-template-columns: 1fr 1fr;
    }
    .footer-text {
        grid-column: 1/4;
        margin-bottom: var(--p1);
    }
    .footer-text p {
        padding-right: 4rem;
    }
}

@media screen and (max-width: 575px) {
    :root {
        --section-gap: 4.125rem;
    }
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .section-title {
        font-size: 2rem;
    }
    .habit-heading p > span,
    .training-exercise-heading p > span,
    .BMI-calc-heading p > span,
    .team-heading p > span {
        display: inline;
    }

    /* ******************************************* Todo: Navbar part css ****************************************** */
    .navbar-content {
        display: none;
    }
    .navbar-bars {
        display: block;
    }

    /* ******************************************* Todo: Banner part css ****************************************** */
    .banner-container {
        grid-template-columns: repeat(1, 1fr);
        gap: var(--p1);
    }
    .banner-title {
        font-size: 2.25rem;
    }
    .banner-title > span {
        font-size: 4.5rem;
    }
    .banner-btn {
        gap: 0.5rem;
        flex-wrap: wrap;
    }
    .btn {
        font-size: 0.875rem;
        padding: 1rem;
    }

    /* ---------------------------------------------------- */

    .banner-img-content {
        padding-left: 3.5rem;
    }
    .banner-img-content img {
        width: 70vw;
    }
    .banner-img-card h4 {
        font-size: 1.8rem;
    }
    .banner-img-content .banner-img-card {
        padding: 0.5rem;
    }
    .banner-img-content .banner-card-1 {
        top: 7.5rem;
        right: 0;
    }
    .banner-img-content .banner-card-2 {
        bottom: 3rem;
        left: 0;
    }
    .banner-card-icon {
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
        line-height: 2rem !important;
        color: var(--primary-color);
    }

    /* ******************************************** Todo: Habit part css ****************************************** */
    #habit-section {
        padding: 0 0 var(--section-gap);
    }
    .habit-inner {
        margin-top: var(--p1);
        grid-template-columns: repeat(1, 1fr);
    }
    .habit-card img {
        width: 60%;
    }
    .habit-card > h4 {
        padding-top: 1.4rem;
    }

    /* *********************************** Todo: Start run extra mile section css ********************************* */
    .run-container {
        gap: var(--p1);
        padding-left: var(--p1);
        grid-template-columns: repeat(1, 1fr);
    }

    /* ******************************** Todo: Start training & exercise section css ******************************* */
    #training-exercise-part {
        padding: var(--section-gap) 0 var(--p2);
    }
    .training-exercise-inner {
        padding-top: var(--p1);
    }
    .trainer-img3,
    .trainer-img6 {
        display: none;
    }
    .trainer-img1 {
        grid-column: 1/6;
    }
    .trainer-img2 {
        grid-column: 6/10;
    }
    .trainer-img4 {
        grid-column: 1/5;
    }
    .trainer-img5 {
        grid-column: 5/10;
    }
    .training-exercise-img-text > p {
        left: 1rem;
        top: 1rem;
        bottom: 1rem;
        right: 1rem;
    }
    .trainer-img1 .training-exercise-img-text p {
        top: calc(100% - 2rem);
    }
    .trainer-img4 .training-exercise-img-text p,
    .trainer-img5 .training-exercise-img-text p {
        top: calc(100% - 5.5rem);
        right: 20%;
    }

    /* -----------------------------------------------------------------------------------------
    * If you want to show all the training & exercise images then use the following codes:
-------------------------------------------------------------------------------------------- */
    /* .training-exercise-inner {
        grid-template-columns: repeat(2, 1fr);
    }

    .trainer-img1,
    .trainer-img3,
    .trainer-img5 {
        grid-column: 1/2;
    }

    .trainer-img2,
    .trainer-img4,
    .trainer-img6 {
        grid-column: 2/3;
    }

    .trainer-img1,
    .trainer-img2 {
        grid-row: 1/2;
    }

    .trainer-img3,
    .trainer-img4 {
        grid-row: 2/3;
    }

    .trainer-img5,
    .trainer-img6 {
        grid-row: 3/4;
    }

    .trainer-img3 .training-exercise-img-text p,
    .trainer-img4 .training-exercise-img-text p,
    .trainer-img5 .training-exercise-img-text p,
    .trainer-img6 .training-exercise-img-text p {
        top: calc(100% - 5.5rem);
        right: 30%;
    } */

    /* ************************************ Todo: Start BMI calculator section css ******************************** */
    .BMI-calc-heading {
        padding-left: 0;
        margin-bottom: var(--p1);
    }
    .BMI-calc-container {
        gap: var(--p2);
        grid-template-columns: repeat(1, 1fr);
    }
    .BMI-calc-main h4 {
        font-size: 1.2rem;
    }
    .BMI-calc-chart table {
        margin-top: var(--p1);
    }
    .BMI-calc-chart table tr > th,
    .BMI-calc-chart table tr > td {
        font-size: 0.875rem;
        padding: 0.875rem 1rem;
    }
    .BMI-calc-form .btn {
        margin-right: 0;
    }

    /* ***************************************** Todo: Start Team section css ************************************* */
    #team-section {
        padding: var(--section-gap) 0;
    }
    .team-inner {
        margin-top: var(--p1);
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 320px);
    }

    /* ****************************** Todo: Challenge part - Training Rates css start here  *********************** */
    #training-rate-section {
        padding: var(--section-gap) 0;
    }
    .training-rate-inner {
        padding-top: var(--p1);
        grid-template-columns: 1fr;
    }
    .training-rate-card:hover {
        transform: scaleY(1);
    }
    /* **************************************** Todo: Challenge part end here  ************************************ */

    /* **************************************** Todo: Start Footer section css ************************************ */
    .footer-container {
        gap: var(--p1);
        padding: var(--section-gap) 0;
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-text h2 {
        font-size: 3rem;
    }
    .footer-links h3 {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
    .footer-links ul li a {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .footer-btm {
        padding: 1rem;
    }
    .footer-btm p {
        font-size: 1rem;
    }
}
